@import url(./base);
/* btn */
.btn {
	@w: 7.333333rem; // 550px
	@h: 1.333333rem; // 100px
	width: @w;
	height: @h;
	padding: 0;
	margin: 0 auto;
	border-width: 0;
	border-radius: 0.12rem;
	background: transparent;
	text-align: center;
	color: #fff;
	font-size: 17px;
	transition: all .1s linear;
	&:active {
		background: rgba(255,255,255,.25);
	}
}
.btn-default {
	background-color: #fff;
	border: 1px solid #ccc;
}
.btn-border {
	border: 1px solid #fff;
}
.btn-red {
	background-color: rgb(255, 90, 96);
	&:active {
		background-color: rgba(255, 90, 96, .8);
	}
}
[data-dpr="2"] .btn {font-size: 34px;}
[data-dpr="3"] .btn {font-size: 51px;}

/* link */
.intro-link {
	@c: rgba(255,255,255,.75);
	padding: 0 0.04rem 0.133333rem 0.04rem;
	color: @c;
	text-decoration: none;
	font-size: 12px;
	line-height: 1;
	border-bottom: 1px solid @c;
}
[data-dpr="2"] .intro-link {font-size: 24px;}
[data-dpr="3"] .intro-link {font-size:36px;}

/* sprite */
.sprite {
    background-image: url('../images/spritesheet.png');
    background-repeat: no-repeat;
    background-size: 10.6rem 4.72rem; //795 354
    display: block;
}

.sprite-eye_close {
    width: 0.586667rem; //44
    height: 0.28rem; //21
    background-position: -0.066667rem -0.066667rem; //5 5
}

.sprite-eye_open {
    width: 0.586667rem; //44
    height: 0.36rem; //27
    background-position: -0.786667rem -0.066667rem; //59 5
}

.sprite-icon_arrow_right {
    width: 0.16rem; //12
    height: 0.266667rem; //20
    background-position: -1.506667rem -0.066667rem; // 113 5
}

.sprite-icon_friends {
    width: 1.333333rem; //100
    height: 1.333333rem; //100
    background-position: -1.8rem -0.066667rem; //135 5
}

.sprite-icon_homer {
    width: 2.933333rem; //220
    height: 3.12rem; //234
    background-position: -0.066667rem -1.533333rem; //5 115
}

.sprite-icon_qq {
    width: 1.333333rem; //100
    height: 1.333333rem; //100
    background-position: -3.266667rem -0.066667rem; //245 5
}

.sprite-icon_qzone {
    width: 1.333333rem; //100
    height: 1.333333rem; //100
    background-position: -3.133333rem -1.533333rem; //235 115
}

.sprite-icon_saomiao {
    width: 0.533333rem; //40
    height: 0.506667rem; //35
    background-position: -4.733333rem -0.066667rem;//355 5
}

.sprite-icon_wx {
    width: 1.333333rem; //100
    height: 1.333333rem; //100
    background-position: -3.133333rem -3.0rem; //235 225
}

.sprite-logo {
    width: 5.133333rem; //385
    height: 1.866667rem; //140
    background-position: -5.4rem -0.066667rem; //405 5
}

/* page transition */
.page {
	&-in {
		transition: transform 300ms ease;
	}
	&-out {
		transition: transform 300ms ease;
	}
	&-active {
		transform: translate3d(0, 0, 0);
	}
	&-prev {
		transform: translate3d(-100%, 0, 0);
	}
	&-next {
		transform: translate3d(100%, 0, 0);
	}
}