@import url(./component);
.section-page {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	&-2 {
		background: url('../images/bg_2.png') no-repeat center;
		background-size: 100% 100%;
		text-align: center;
		padding-top: 1.066667rem; // 80px
		min-height: 5rem;
		input {
			background: transparent;;
			border-width: 0;
			color: #fff;
			vertical-align: middle;
		}
		.logo {
			width: 5.36rem;
			height: 1.92rem;
			max-width: 100%;
		}
		.form {
			padding: 1.533333rem 1.266667rem 0; // 115 95 0 95
		}
		.btn-regist {
			display: block;
		}
		.form-item {
			@c: #c1c1c1;
			position: relative;
			height: 1.333333rem;
			line-height: 1.2rem;
			border-bottom: 1px solid rgba(193, 193, 193, .5);
			text-align: left;
			color: #fff;
			overflow: hidden;
			&.invite-w {
				line-height: 1;
				font-size: 14px;
				color: @c;
				.code-tip {
					padding-top: 0.133333rem;
					margin-bottom: 0.24rem; // 18
				}
			}
			&.input-w {
				input {
					// height: 100%;
					height: 0.4rem;
					padding: 0.466667rem 0;
					font-size: 14px;
				}
			}
			&.agreement-w {
				border-bottom: 0;
				input {
					margin-left: 0;
				}
			}
			&.pass-w {
				.btn-eye {
					position: absolute;
					top: 50%;
					right: 0;
					width: auto;
					height: 0.4rem;
					margin-top: -0.2rem;
				}
			}
		}
		.btn-getCode {
			position: absolute;
			right: 0;
			top: 50%;
			width: auto;
			transform: translateY(-50%);
			font-size: 14px;
			color: #ff5a60;
		}
		.btn-regist {
			margin-bottom: 0.8rem;
		}
		.invite-code {
			font-weight: bold;
			font-size: 18px;
			color: #fff;
		}
	}
	&-3 {
		.bg-index {
			display: block;
			width: 100%;
			margin-top: 0.4rem; // 30
			margin-bottom: 0.72rem; // 54
		}
		.invite-w {
			h3 {
				margin: 0;
				text-align: center;
				letter-spacing: 0.013333rem;
				font-size: 12px;
				color: #808080;
			}
			.invite-code {
				margin: 0;
				padding-top: 0.266667rem;
				padding-bottom: 0.973333rem;
				text-align: center;
				color: #ff5a60;
				font-size: 18px;
			}
		}
		.share-w {
			display: flex;
			justify-content: space-around;
			.icon-share {
				border-radius: 50%;
				border: 0.013333rem dashed @bg_index;
				transition: border-color .2s ease;
				&:active {
					border: 1px dashed #ff5a60;
				}
			}
		}
		.menu-items {
			@bc: #e7e7e7;
			ul {
				margin-top: 1.733333rem;
				padding-left: 0.4rem;
				list-style: none;
				border-top: 1px solid @bc;
				border-bottom: 1px solid @bc;
			}
			li {
				border-bottom: 1px solid @bc;
				&:last-child {
					border: none;
					a:active {
						background: transparent;
					}
				}
			}
			a {
				display: block;
				height: 1.333333rem;
				line-height: 1.333333rem;
				text-decoration: none;
				&:active {
					background: @bc;
				}

			}
			i {
				display: inline-block;
				margin-left: 0.266667rem;
			}
			span {
				font-size: 15px;
			}
			.item-name {
				color: #808080;
				& + span {
					float: right;
					margin-right: 0.4rem;
					color: #4a4a4a;
				}
			}
		}
	}
	&-4 {
		ul {
			list-style: none;
			margin: 0;
			padding-left: 0.4rem;
		}
		li {
			height: 1.333333rem;
			line-height: 1.333333rem;
			border-bottom: 1px solid rgba(0,0,0,.1);
			color: #4a4a4a;
			font-size: 15px;
		}
		.time {
			float: right;
			margin-right: 0.4rem;
		}
		.list-w {
			height: 100%;
			overflow: hidden;
		}
	}
}
[data-dpr="2"] {
	.section-page-2 {
		.form-item.invite-w {font-size: 28px}
		.form-item.input-w input {font-size: 28px;}
		.btn-getCode {font-size: 28px}
		.invite-code{font-size: 36px;}
	}
	.section-page-3 {
		.invite-w h3 {font-size: 24px;}
		.invite-code {font-size: 36px;}
		.menu-items span {font-size: 30px;}
	}
	.section-page-4 {
		li {font-size: 30px;}
	}
}

[data-dpr="3"] {
	.section-page-2 {
		.form-item.invite-w {font-size: 42px}
		.form-item.input-w input {font-size: 42px;}
		.btn-getCode {font-size: 42px}
		.invite-code{font-size: 54px;}
	}
	.section-page-3 {
		.invite-w h3{font-size: 36px;}
		.invite-code {font-size: 54px;}
		.menu-items span {font-size: 45px;}
	}
	.section-page-4 {
		li {font-size: 45px;}
	}
}

/* react router css transition */
.Image {
  position: absolute;
  height: 400px;
  width: 400px;
  background: olive;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}

.link-active {
  color: #bbbbbb;
  text-decoration: none;
}
