@import url(./base);
/* btn */
.btn {
	@w: 7.333333rem; // 550px
	@h: 1.333333rem; // 100px
	width: @w;
	height: @h;
	padding: 0;
	margin: 0 auto;
	border-width: 0;
	border-radius: 0.12rem;
	background: transparent;
	text-align: center;
	color: #fff;
	font-size: 17px;
	transition: all .1s linear;
	&:active {
		background: rgba(255,255,255,.25);
	}
}
.btn-default {
	background-color: #fff;
	border: 1px solid #ccc;
}
.btn-border {
	border: 1px solid #fff;
}
.btn-red {
	background-color: rgb(255, 90, 96);
	&:active {
		background-color: rgba(255, 90, 96, .8);
	}
}
[data-dpr="2"] .btn {font-size: 34px;}
[data-dpr="3"] .btn {font-size: 51px;}

/* link */
.intro-link {
	padding: 0 0.04rem 0.133333rem 0.04rem;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	line-height: 1;
	border-bottom: 1px solid #fff;
}
[data-dpr="2"] .intro-link {font-size: 24px;}
[data-dpr="3"] .intro-link {font-size:36px;}

/* sprite */
.sprite {
    background-image: url('/images/eyes.png');
    background-repeat: no-repeat;
    background-size: 1.44rem 0.493333rem; // 108  37
    display: block;
}

.sprite-eye_close {
    width: 0.586667rem;  // 44
    height: 0.28rem; // 21
    background-position: -0.066667rem -0.066667rem; // -5 -5
}

.sprite-eye_open {
    width: 0.586667rem; // 44
    height: 0.36rem; // 27 
    background-position: -0.786667rem -0.066667rem; //-59 -5
}

/* page transition */
.page {
	&-in {
		transition: transform 300ms ease;
	}
	&-out {
		transition: transform 300ms ease;
	}
	&-active {
		transform: translate3d(0, 0, 0);
	}
	&-prev {
		transform: translate3d(-100%, 0, 0);
	}
	&-next {
		transform: translate3d(100%, 0, 0);
	}
}